body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    background-color: white;
}


.navbar {
    background-color: #f1c4c9;
    height: 100vh;
    color: white;
    font-size: 30px;
}

footer {
    background-color: #f1c4c9;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #B5838D;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 25px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 45px;
    font-weight: 300;
} 

.subtext {
    font-size: 15px;
    font-weight: 300;

}

.intro-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.intro-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: #B5838D;
    text-align: center; 
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #FFB4A2;
}

.button:active {
    background-color: #6D6875;
    color: #FFCDB2;
}

img {
    width: 370px;
    border-radius: 50%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    display: block; */
    border: solid 2px;
}

.profile-pic {
    display: flex;
    align-items: center;

}

.info-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.info-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;

}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px grey;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.ttt-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: palevioletred;
}

a{
    text-decoration: none;
    color: white;
}
